{% extends "base.html" %} 
{% load static %}

{% block content %}

<div class="overlay"></div>

<div class="container mb-2" id="shopping-cart">
    <div class="row">
        <div class="col">
            <hr>
            <h2 mb-4>Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        {% if cart_items %}

        {% else %}
        <p class="lead mb-5">Your shopping cart is empty.</p>
        <a class="links" href="{% url 'products' %}">
            <span>
                <i class="fas fa-arrow-circle-left navegation-arrows"></i>
            </span>
            <span class="text-uppercase-blue">
                Go back to store
            </span>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}
