{% extends "base.html" %} 
{% load static %}

{% block content %}

<div class="overlay"></div>

<div class="container mb-2" id="shopping-cart">
    <div class="row">
        <div class="col">
            <hr>
            <h2 mb-4> Your shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <p>Please fill out the form</p>
        <div class="card card-cart">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form"></form>
            {% csrf_token %}
            {{ order_form }}
        </div>

    </div>
</div>

{% endblock %}