html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: url("/media/home.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}


.my-2 {
    margin-top: 1.1rem!important;
    margin-bottom: .5rem!important;
}

a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

a:hover {
  color: #d3b3ac;
}

.header-background {
  position: static;
  display: block;
  overflow: visible;
  top: 0;
  max-height: auto;
  min-height: 85vh;
  white-space: normal;
  object-fit: fill;
  -o-object-fit: fill;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.sticky-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 20px;
  z-index: 1;
  -webkit-align-self: auto;
  -ms-felx-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-orient: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: rgba(17, 66, 110, 0.9);
}

.navbar-toggler-icon {
  font-size: 50px;
}

.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 40px;
  height: 3px;
  border: 2px;
  background: #fff;
}

.navbar-toggler span + span {
  margin-top: 8px;
  width: 40px;
}

.navbar-toggler span + span + span {
  width: 40px;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #e74c3c;
}

.btn {
  background-color: #e74c3c;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 0px 0px 0px 0px;
}


.btn-apply {
  background-color: #5075af;
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1.0rem;
  height: 50%;
}

.btn-stay {
  background-color: green;
  color: white;
}

.btn:hover {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.btn-sorting {
  background-color: #e74c3c;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
}

.sorting-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sorting-column {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f4f4f4;
}

footer {
  background-color: rgba(17, 66, 110, 0.9);
  max-height: auto;
  min-height: 15vh;
  overflow: hidden;
}

.text-white-uppercase {
  text-transform: uppercase;
  color: whitesmoke;
}

.text-uppercase-blue {
  text-transform: uppercase;
  color: #11426e;
}

.logo-font {
  font-family: "Dancing Script", cursive;
  color: #ff7b7b;
  font-size: 50px;
}

.links {
  text-decoration: none;
}

.text-center {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-links {
  margin: 0 0px 0px 0;
  padding-bottom: 25px;
  font-size: 18px;
  text-align: center;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ff7b7b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 10px;
}

.social-links a:hover {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.copyright {
  color: whitesmoke;
  margin-left: 5px;
}

.btn-main-sections {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 23px;
  width: 160px;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-main-sections:hover,
.btn-main-sections:active,
.btn-main-sections:focus,
.btn-main-sections:active:focus:visited {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.btn-search {
  background-color: #f05f40;
}

.shopping-basket-icon {
  font-size: 20px;
  color: #f05f40;
  margin: 0px 0px 0px 0px;
}

.list-inline-item {
  margin-right: 20px;
}

.nav-bar-links {
  font-size: 30px;
  color: #f05f40;
}

.nav-bar-links:hover,
.nav-bar-links:active,
.nav-bar-links:focus .nav-bar-links:active:focus:visited {
  color: #d3b3ac;
}

/* Products page */
.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: whitesmoke;
  z-index: -1;
}

/* Base html heading */

.heading {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: #11426e;
  margin-top: 30vh;
}

.vertical-alignment {
  display: flex;
  align-items: center;
  text-align: center;
}

.row {
  margin: 0px 0px 0px 0px;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding: 0px 0px 0px 0px;
}

.row-cart {
margin: 10px 0px 10px 0px;
}

.nav-link {
  font-size: 28px;
}

.link-confirmation {
  color: #000;
  decoration
}

.card {
  min-height: 400px;
  width: 100%;
  min-width: 100%;
  align-items: center;
}

.card-login {
  min-height: 400px;
  background-color: #f0ffff;
}

.card-logout {
  min-height: 100px;
  background-color: #f0ffff;
}

.col {
  margin: 0px 0px 0px 0px;
}

.main-form {
  width: 100%;
}

/* Login form */

.card0 {
  box-shadow: 0px 4px 8px 0px #f05f40;
  border-radius: 25px;
  width: 50%;
  margin-top: 10vh;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #eeeeee;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.twitter {
  background-color: #1da1f2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867b2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: 300;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304ffe;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.btn-blue {
  background-color: #1a237e;
  width: 150px;
  color: #fff;
  border-radius: 15px;
  margin: 5px 5px 5px 5px
}

.btn-blue:hover {
  background-color: rgb(74, 127, 196);
  cursor: pointer;
}

.btn-yellow {
  background-color: #FECC67;
  width: 150px;
  color: #11426e;
  border-radius: 15px;
  margin: 5px 5px 5px 5px
}

.btn-yellow:hover {
  background-color: rgb(139, 196, 74);
  cursor: pointer;
}

.bg-shopping-cart {
  background-color: #fecc67;
  color: #11426e;
}

.bg-blue {
  color: #fff;
  background-color: #1a237e;
}

@media screen and (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }

  .image {
    width: 300px;
    height: 220px;
  }

  .border-line {
    border-right: none;
  }

  .card2 {
    border-top: 1px solid !important;
    margin: 0px 15px;
  }

  .card0 {
    width: 100%;
  }
}

#id_remember {
  width: 10%;
  margin-left: 0px;
}

.py-5 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.font-weight-bold {
  text-align: center;
  font-size: 30px;
}


.font-weight-bold-summary-titles {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

.font-weight-bold-summary {
  text-align: left;
  font-size: 15px;
}

.font-weight-bold-login {
  text-align: center;
}

/* Product details page */
/*********************************************
        		Theme Elements
*********************************************/

.gold {
  color: #ffbf00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product {
  border: 1px solid #dddddd;
  height: 321px;
}

.product > img {
  max-width: 230px;
}

.product-rating {
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title {
  font-size: 20px;
}

.product-desc {
  font-size: 14px;
}

.product-price {
  font-size: 22px;
}

.product-stock {
  color: #74df00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info {
  margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
}

.container-fluid {
  margin: 0 auto;
}

.view-wrapper {
  float: right;
  max-width: 70%;
  margin-top: 25px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

#row-product {
  margin: 10vh 10vh 10vh 10vh;
}
/*********************************************
				ITEM 
*********************************************/

.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {
  padding-right: 50px;
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > center > img,
.service-image-right > center > img {
  max-height: 155px;
}

.img-details {
  width: auto;
  height: auto;
}

/*********************************************
				Search form
*********************************************/

.navbar-search {
  width: 25rem;
}

.navbar-search input {
  font-size: 0.85rem;
  height: auto;
}

.input-group {
  width: 100%;
}

.out-of-stock {
  background-color: black;
  color: red;
  margin: 5px 5px 5px 5px;
  font-weight: 500px;
}

.in-stock {
  background-color: green;
  color: white;
  margin: 2px 2px 2px 2px;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.border-black {
  border: 1px solid black !important;
}

#shopping-cart {
  width: 90%;
}

.navegation-arrows {
  font-size: 40px;
  color: #11426e;
}

.p-basket {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 15px;
}

.badge-footer {
  font-size: 25px;
}

.btn-group {
  font-size: 20px;
  margin-top: 15px;
}

#wrapper-disabled {
  position: relative;
}

.overlay-disabled {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  height: 20px;
  width: 70px;
}
​ #search-button {
  display: none;
}


/* Shopping cart */

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
  min-height: 25rem;
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

.card-cart {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  display: block;
  padding: 0px 0px 0px 0px;
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

.cart-items {
    display: flex;
    justify-content: center;
}

/*********************************************
				Toasts
*********************************************/

.message-container {
  position: fixed;
  top: 80px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/*********************************************
				Coupons
*********************************************/

.apply {
  background-color: #365b96;
  color: red;
}

#coupon {
  margin-top: 20px;
}

/*********************************************
				CheckOut & Stripe
*********************************************/

.text-bold-red{
  color: red;
  font-weight: bold;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 66, 110, 0.9);
    z-index: 9999;
}

.loading-spinner {
	  display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.icon-loading {
  color : #ff7b7b;
}

/*********************************************
				Profile app
*********************************************/

.form-check{
  margin-top: 10px !important;
  padding-left: 0px !important;
}

.user-form{
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
}

#id_remember {
  width: 10px !important;
  margin-left: 0px !important;
  margin-right: 5px !important;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}


/********************
Whislist
*********************/

#error-wishlist{
  font-style: italic;
  color: red;
  font-weight: bold;
}

/********************
Order history
*********************/

.order-history{
  max-height: 416px; /* height of profile form + submit button */
  overflow-y: auto;
}

#profile-update-form .form-control {
  color: #000;
}

#profile-update-form input::placeholder {
  color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#id_default_country option:first-child {
  color: #aab7c4;
}
