html{
    scroll-behavior: smooth;
    height: 100%;
}


body{
    margin: 0;
    padding:0;
    font-size: 18px;
    background: url('/media/home2.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    color: #ff7b7b;
    font-weight: 500;
    font-size: 18px;
}

a:hover {
    color: #d3b3ac;
}

.header-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    max-height:auto;
    min-height: 85vh;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.sticky-nav{
    position:sticky;
    position: -webkit-sticky;
    top:0px;
    padding:20px;
    z-index:1;
    -webkit-align-self: auto;
    -ms-felx-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-orient: 1;
    -webkit-order: 0;
    -ms-flex-order:0;
    order:0;
    background-color: rgba(12,32,59,0.5);
}

.navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}

.navbar-toggler span + span {
    margin-top: 4px;
    width: 22px;
}

.navbar-toggler span + span + span {
    width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link.active{
    color:#e74c3c;
}

.btn {
    background-color: #e74c3c;
    color:white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #0a3d62;
    color:white;
}

footer{
    background-color: black;
    max-height: auto;
    min-height: 15vh;
    overflow : hidden;
}

.text-white-uppercase {
    text-transform: uppercase;
    color : whitesmoke;
}

.logo-font {
    font-family: 'Dancing Script', cursive;
    color: #ff7b7b;
    font-size: 50px;
}

.links {
text-decoration: none;
}

.text-center {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links {
  margin: 0 0px 0px 0;
  padding-bottom: 25px;
  font-size: 18px;
  text-align: center;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ff7b7b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-top: 10px;
}

.social-links a:hover {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.copyright {
    color : whitesmoke;
    margin-left: 5px;
}

.btn-main-sections {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 23px;
  width: 160px;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-main-sections:hover,
.btn-main-sections:active,
.btn-main-sections:focus,
.btn-main-sections:active:focus:visited {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.btn-search {
    background-color: #f05f40;
}

.shopping-basket-icon{
    font-size: 30px;
    color: #f05f40;
}

.list-inline-item{
    margin-right:20px;
    margin-left: 20px;
}

.nav-bar-links {
    font-size: 30px;
    color: #f05f40;
}

.nav-bar-links:hover,
.nav-bar-links:active,
.nav-bar-links:focus
.nav-bar-links:active:focus:visited{
  color: #d3b3ac;
}

/* Products page */
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}

/* Base html heading */
.heading {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    margin-top: 180px;
}

.heading {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}

.vertical-alignment{
    display: flex;
    align-items: center;
    text-align:center;
}

.row{
    margin: 0px 0px 0px 0px;
}
