{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
 
<div
  class="container-fluid header-background px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto"
>
  <div class="card-logout card0 border-0">
    <div class="row d-flex">
      <div class="col-lg-12">
        <div class="card2 card-logout border-0 px-4 py-5">
          <div class="row mb-4 px-3">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="action" value="{% trans 'change password' %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}



