{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
  <div class="row" id="row-product">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      {% if product.image %}
      <a href="{% url 'product_detail' product.id %}">
        <img
          src="{{ MEDIA_URL }}{{product.image.url}}"
          class="card-img-top imag-fluid"
          alt="{{ product.friendly_name }}"
        />
      </a>
      {% else %}
      <a href="{% url 'product_detail' product.id %}">
        <img
          src="{{ MEDIA_URL }}noimage.png"
          class="card-img-top imag-fluid"
          alt="{{ product.friendly_name }}"
        />
      </a>
      {% endif %}
    </div>

    <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
      <div class="product-title">{{ product.friendly_name }}</div>
      <div class="product-desc">{{ product.description }}</div>
      <div class="product-rating">
        <i class="fa fa-star gold"> </i><i class="fa fa-star gold"></i>
        <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <hr />
      <div class="product-price">€{{ product.price }}</div>
      {% if product.category %}
      <div class="product-price">
        <i class="fas fa-tags"></i> {{ product.category|capfirst }}
      </div>
      {% endif %} {% if product.origin %}
      <div class="product-price">
        <i class="fas fa-map-pin"></i> {{ product.origin|capfirst }}
      </div>
      {% endif %} {% if product.stock %}
      <div class="card-body">
        <h2>
          <span class="badge bg-success"
            ><i class="fas fa-check"></i> In Stock</span
          >
        </h2>
      </div>
      {% else %}
      <div class="card-body">
        <h2>
          <span class="badge bg-danger"
            ><i class="fas fa-exclamation-circle"></i> Out-of-stock</span
          >
        </h2>
      </div>
      {% endif %}
      <hr />

      <div class="container-fluid">
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="row">
          <h2>Qty:</h2>

          <div class="form-group w-50">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  class="decrement-qty btn btn-black rounded-0"
                  data-item_id="{{ product.id }}"
                  id="decrement-qty_{{ product.id }}"
                >
                  <span class="icon">
                    <i class="fas fa-minus"></i>
                  </span>
                </button>
              </div>
              <input
                class="form-control qty_input"
                type="number"
                name="quantity"
                value="1"
                min="1"
                max="99"
                data-item_id="{{ product.id }}"
                id="id_qty_{{ product.id }}"
              />
              <div class="input-group-append">
                <button
                  class="increment-qty btn btn-black rounded-0"
                  data-item_id="{{ product.id }}"
                  id="increment-qty_{{ product.id }}"
                >
                  <span class="icon">
                    <i class="fas fa-plus"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
      </form>
      </div>

      {% if product.stock %}
      <div class="btn-group cart">
        <button type="button" class="btn-success">Add to cart</button>
      </div>
      {% else %}
      <div class="btn-group cart" id="wrapper-disabled">
        <div id="overlay-disabled"></div>
        <button
          type="button"
          class="btn-disabled"
          id="disabled-button"
          disabled
        >
          Add to cart
        </button>
      </div>
      {% endif %}
      <div class="btn-group wishlist">
        <button type="button" class="btn-danger">Add to wishlist</button>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
{% block postloadjs %} 
{{ block.super }} 
{% include 'products/includes/quantity_button.html' %} 
{% include 'includes/main_js.html' %} 
{% endblock %}

