{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid products-page">
        <div class="row container-fluid">
            <div class="col">
            {% for product in products %}


 
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{product.image.url}}"
                                alt="{{ product.name }}">

                        


            <ul>
                <li>{{ product.image }}</li>
            </ul>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}